@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.conteiner {
    margin: auto;
    width: 1080px;
    padding-bottom: 18px;
}

.doscajas {
    display: flex;
}
.aboutme {
    display: flex;
}

.informacion {
    width: 382px;
    height: 465px;
    padding-left: 36px;
    padding-top: 90px;
    background: #79E6C9;
    border-radius: 0px 16px 16px 0px;
}

.informacion p {
    margin-bottom: 18px;
    color: #fff;
}

button {
    border-radius: 8px;
    background-color: #fff;
    width: 74px;
    height: 28px;
    margin-top: 15px;
    color: #79E6C9;
    border: none;
    font-weight: 700;
    transition: all 1s;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background-color: #79E6C9;
    border: 4px solid #fff;
    transition: all ease-in-out 1s;
}

.w400 {
    font-size: 20px;
    line-height: 14.2px;
}

.w700 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
}

.lorem {
    width: 230px;
    font-size: 12px;
    line-height: 18px;
}

.foto {
    width: 698px;
    height: 392px;
    background: #000;
    background-image: url("../img/person.jpg");
    height: 465px;
    background-size: cover;
    background-position-x: center;
    position: center;
}


.cajitas {
    width: 50%;
    height: 374px;
}

.cajanegra {
    width: 300px;
    height: 300px;
    margin-left: 68px;
    margin-top: 63px;
    /* background: #000; */
    border-radius: 18px;
    position: absolute;
    z-index: 1;
    background-image: url("../img/programacion.png");
    background-size: cover;
    background-position-x: center;
    position: center;
}

.cajarosada {
    width: 250px;
    height: 250px;
    border-radius: 0px 18px 18px 0px;
    background: #29E3F4;
    margin-top: 138px;
    position: relative;
}

.texto {
    padding-top: 82px;
}

.lorems10 {
    width: 230px;
    font-size: 10px;
    line-height: 18px;
}

.texto p {
    margin-bottom: 18px;
    color: #000;
}

.circulos {
    margin-top: 59px;
    display: flex;
}

.circulo {
    width: 26px;
    height: 26px;
    background: #29E3F4;
    border-radius: 100%;
    margin-left: 9px;
}
.circulo1 {
    width: 26px;
    height: 26px;
    background: #29E3F4;
    border-radius: 100%;
    margin-left: 9px;
    animation-name: salto1;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
.circulo2 {
    width: 26px;
    height: 26px;
    background: #29E3F4;
    border-radius: 100%;
    margin-left: 9px;
    animation-name: salto2;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
.circulo3 {
    width: 26px;
    height: 26px;
    background: #29E3F4;
    border-radius: 100%;
    margin-left: 9px;
    animation-name: salto3;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
@keyframes salto1 {
    0% {bottom: 0;}
    25% {bottom: 10px;}
    50% {bottom: 0px;}
    75% {bottom: 20px;}
    100% {bottom: 0px;}
}
@keyframes salto2 {
    0% {bottom: 20px;}
    /* 25% {bottom: 10px;} */
    50% {bottom: 0px;}
    /* 75% {bottom: 15px;} */
    100% {bottom: 20px;}
}
@keyframes salto3 {
    0% {bottom: 10;}
    25% {bottom: 0px;}
    /* 50% {bottom: 0px;} */
    75% {bottom: 25px;}
    100% {bottom: 0px;}
}

.unacaja {
    width: 100%;
    height: 179px;
    padding-left: 37px;
    padding-top: 33px;
}

.unacaja p {
    margin-bottom: 18px;
    color: #000;
}

.trescajas {
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5,
.caja6,
.caja7,
.caja8,
.caja9,
.caja10,
.caja11,
.caja12 {
    width: 196px;
    height: 196px;
    border-radius: 18px;
}

.caja1 {
    background: #DE89EF;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja1:hover {
    background: #de89ef75;
    border: 10px solid #DE89EF;
    transition: ease-in-out all 0.5s;
}

.caja2 {
    background: #72A5EC;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja2:hover {
    background: #72a5ec80;
    border: 10px solid #72A5EC;
    transition: ease-in-out all 0.5s;
}

.caja3 {
    background: #79E6C9;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja3:hover {
    background: #79e6c983;
    border: 10px solid #79E6C9;
    transition: ease-in-out all 0.5s;
}

.caja4 {
    background: #76D0B3;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja4:hover {
    background: #76d0b480;
    border: 10px solid #76D0B3;
    transition: ease-in-out all 0.5s;
}

.caja5 {
    background: #80CAE3;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja5:hover {
    background: #80cae381;
    border: 10px solid #80CAE3;
    transition: ease-in-out all 0.5s;
}

.caja6 {
    background: #E485E9;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja6:hover {
    background: #e485e981;
    border: 10px solid #E485E9;
    transition: ease-in-out all 0.5s;
}

.interiorcaja {
    width: 93px;
    color: #fff;
    margin-bottom: 27px;
    margin-left: 29px;
    margin-top: 111px;
    font-weight: 700;
    font-size: 24px;
}

.work {
    padding-top: 59px;
    padding-left: 40px;
    padding-bottom: 9px;
}

.work p {
    padding-top: 17px;
}

.caja7 {
    background: #CFD4D7;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja7:hover {
    background: #fff;
    border: 10px solid #CFD4D7;
    transition: ease-in-out all 0.5s;
}

.caja8 {
    background: #786D69;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja8:hover {
    background: #fff;
    border: 10px solid #786D69;
    transition: ease-in-out all 0.5s;
}

.caja9 {
    background: #488E9D;
    transition: ease-in-out all 0.5s;
    cursor: pointer;
}
.caja9:hover {
    background: #fff;
    border: 10px solid #488E9D;
    transition: ease-in-out all 0.5s;
}

.experience {
    padding-top: 75px;
    padding-left: 40px;
    border-radius: 18px;
    padding-bottom: 22px;
}

.experience p {
    padding-top: 17px;
}

.caja10 {
    background: #fff;
    border: 4px solid #02C1F2;
    padding-top: 54px;
    padding-left: 18px;
    cursor: pointer;
    transition: ease-in-out all 0.5s;
}
.caja10:hover {
    background: #02c2f22c;
    border: 4px solid #fff;
    transition: ease-in-out all 0.5s;
}

.caja11 {
    background: #00C1F2;
    padding-top: 54px;
    padding-left: 18px;
    cursor: pointer;
    transition: ease-in-out all 0.5s;
}
.caja11:hover {
    background: #02c2f283;
    border: 4px solid #00C1F2;
    transition: ease-in-out all 0.5s;
}
.caja11 p {
    color: #fff;
    cursor: pointer;
}

.caja12 {
    background: #fff;
    border: 4px solid #02C1F2;
    padding-top: 54px;
    padding-left: 18px;
    transition: ease-in-out all 0.5s;
}
.caja12:hover {
    background: #02c2f22c;
    border: 4px solid #fff;
    transition: ease-in-out all 0.5s;
}

.w700s20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.textodentrocaja {
    width: 151px;
    font-size: 10px;
    line-height: 18px;
    padding-top: 9px;
}

.grilla1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    column-gap: 60px;
    row-gap: 24px;
    place-items: center;
    height: 416px;
    padding-top: 24px;
    padding-left: 90px;
    padding-right: 100px;
}
.grilla2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    column-gap: 60px;
    row-gap: 24px;
    place-items: center;
    /* height: 416px; */
    padding-top: 24px;
    padding-left: 90px;
    padding-right: 100px;
}
.grilla3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    column-gap: 60px;
    row-gap: 24px;
    place-items: center;
    /* height: 416px; */
    padding-top: 24px;
    padding-left: 90px;
    padding-right: 100px;
}
.caja {
    width: 196px;
    height: 196px;
    background: #000;
    border-radius: 18px;
}

@media screen and (max-width:1200px) {
    .conteiner {
        width: 700px;
    }
    .informacion {
        height: 300px;
        padding-top: 25px;
    }
    button {
        margin-top: 0;
    }
    .lorem {
        width: 300px;
    }
    .foto {
        height: 300px;
        background-size: cover;
        background-position-x: center;
        position: center;
    }
    .cajitas { height: 300px;}
    .cajanegra,
    .cajarosada {
        width: 200px;
        height: 200px;
    }
    .cajanegra {
        margin-top: 50px;
    }
    .cajarosada { margin-top: 90px;}
    .texto { padding-top: 50px;}
    .grilla1,
    .grilla2,
    .grilla3 {
        height: auto;
        column-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .unacaja,
    .work,
    .experience {
        padding-top: 30px;
    }
}
@media screen and (max-width:768px) {
    .conteiner {
        width: 550px;
    }
    .doscajas {
        display: grid;
    }
    .informacion {
        width: 550px;
        height: 300px;
        padding-top: 25px;
        border-radius: 20px 20px 0 0;
    }
    button {
        margin-top: 0;
    }
    .lorem {
        width: 300px;
    }
    .foto {
        width: 550px;
        height: 300px;
        background-size: cover;
        background-position-x: center;
        position: center;
        border-radius: 0 0 20px 20px;
    }
    .aboutme {
        grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    }
    .cajitas {
        height: 300px;
        width: 250px;
    }
    .texto {
        width: 250px;
    }
    .cajanegra {margin-left: 30px;}
    .cajanegra,
    .cajarosada {
        width: 200px;
        height: 200px;
    }
    .cajanegra {
        margin-top: 50px;
    }
    .cajarosada { margin-top: 70px;}
    .texto { padding-top: 50px;}
    .grilla1,
    .grilla2,
    .grilla3 {
        height: auto;
        column-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .unacaja,
    .work,
    .experience {
        padding-top: 30px;
    }
}
@media screen and (max-width:425px) {
    .conteiner {
        width: 400px;
    }
    .doscajas {
        display: grid;
    }
    .informacion {
        width: 400px;
        height: 300px;
        padding-top: 25px;
        border-radius: 20px 20px 0 0;
    }
    button {
        margin-top: 0;
    }
    .lorem {
        width: 300px;
    }
    .foto {
        width: 400px;
        height: 300px;
        background-size: cover;
        background-position-x: center;
        position: center;
        border-radius: 0 0 20px 20px;
    }
    .aboutme {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cajitas {
        height: 350px;
        width: 400px;
    }
    .cajanegra {
        width: 250px;
        height: 250px;
        margin-left: 18%;
    }
    .cajarosada {
        width: 280px;
        height: 280px;
        margin-left: 12%;
        margin-top: 35px;
        border-radius: 18px 18px 18px 18px;
    }
    .cajanegra {
        margin-top: 50px;
    }
    .texto,
    .unacaja,
    .work,
    .experience {
        width: 400px;
        display: grid;
        justify-items: center;
        padding-left: 0;
    }
    .circulos {
        margin-top: 20px;
    }
    .grilla1,
    .grilla2,
    .grilla3 {
        height: auto;
        column-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .texto,
    .unacaja,
    .work,
    .experience {
        padding-top: 30px;
    }
}